@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background-color: #f9fafb;
  color: #0f172a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background: #f9fafb;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
